In [2]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.12

In [3]:
!pip install -q -U watermark

In [5]:
#!pip install -q -U pandas==1.2.4

In [6]:
# Instala o pacote iPython-sql 
# https://pypi.org/project/ipython-sql/
!pip install -q ipython-sql

In [7]:
# Imports
import pandas as pd
import sqlite3

In [8]:
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

sqlite3: 2.6.0
pandas : 1.4.2

In [10]:
dados = pd.DataFrame({'nome': ['Siri', 'Alexa', 'Cortana'],
                     'idade': [28,47,18],
                     'cargo': ['Analista de Dados', 'Cientista de Dados', 'Engenehiro de Dados']})

In [12]:
dados.head()

      nome  idade                cargo
0     Siri     28    Analista de Dados
1    Alexa     47   Cientista de Dados
2  Cortana     18  Engenehiro de Dados

In [20]:
# Criamos a conexão a um banco de dados SQLite
cnn = sqlite3.connect('database/dbprojeto1.db')

In [19]:
# Apaga o banco de dados
#!del 'database/dbprojeto1.db'
!rm 'database/dbprojeto1.db'

'rm' nÆo ‚ reconhecido como um comando interno
ou externo, um programa oper vel ou um arquivo em lotes.

In [21]:
# Copia o dataframe para dentro do banco de dados como uma tabela
dados.to_sql('funcionarios', cnn)

ValueError: Table 'funcionarios' already exists.

In [22]:
%%sql

SELECT * FROM funcionarios

UsageError: Cell magic `%%sql` not found.

In [23]:
df = pd.read_csv('dataset/diabetes.csv')

In [32]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [26]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df.shape

(768, 9)

In [31]:
# Copia o dataframe para dentro do banco de dados como uma tabela
df.to_sql('diabetes', cnn)

ValueError: Table 'diabetes' already exists.